/* this will apply all body */

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* whole body */
body{
    background-color: black;
    color: white;
}
/* backimage */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
/* navigation bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* left (your name) logo */
.logo{
    width: 140px;
}
/* navigation bar aligning */
nav ul li{

    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* navigation bar designing */
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*red line in navigation bar while pointer is at navbar*/

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    translate: 0.5s;
}
/* navigation bar hovering effect*/

nav ul li a:hover::after{
    width: 100%;
}
/* changing in header-text */
.header-text{
margin-top: 20%;
font-size: 30px;
}
/* changing in header-text increasing in size*/
.sub-title{
    font-size:60px;
    margin-top: 20px;

}

.header-text h1 span{
color: #00FFFF; 

 }
 /* about section */
 #about{
    margin: 80px 0;
 }
 .row
 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .about-col-1{
    flex-basis: 35%;
 }
 .about-col-1 img{
    width: 100%;
    border-radius: 15px;
 }
 .about-col-2{
flex-basis: 60%;
 }
.about-col-1 h1{
    font-size: 60px;
    font-weight: 600;
 }
 /* about section text */
 .tab-titles
 {
    display: flex;
    margin: 20px 0 40px;
 }
 .tab-links
 {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

 }
 .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

 }
 .tab-links.active-link::after{
    width: 50%;
 }
/* skill section */
.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contains ul li span{
    color: #FFFF00;
    font-size: 14px;

}
.tab-contains
{
    display: none;
}
.tab-contains.active-tab
{
    display: block;

}
 /* -----services section---- */
 #services
 {
    padding: 30px 0;
 }
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
/* link of services */
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover
{
    background: #ff004f;
    transform: translateY(-10px);
}

/*------------------ service image-------- */
.images-tags{
    width: 50px;
    margin-bottom: 30px;
}
 /*-------- portfolio---- */
 #portfolio{
    padding: 50px 0;
 }
 /* work list */
 
.work-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work {
    flex-basis: 30%;
    margin: 20px 0;
    position: relative;
}

.work img {
    width: 100%;
    border-radius: 10px;
}

.layer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.work:hover .layer {
    opacity: 1;
}


.layer h3 {
    color: #fff;
    font-size: 24px;
  
 text-align: center;
 font-weight: 500;
    margin-bottom: 20px;
}


.layer p {
    color: #aaa;
    font-size: 16px;
}

.layer a {
    
    display: inline-block;
    margin-top: 10px;
}

.layer img {
    width: 20px;
}
/* button  */
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border-radius: 6px;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover
{
    background: #ff004f;
}
/* -------contect section--------------- */
.contact-left
{
    flex-basis: 35%;
}
.contact-right
{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
/* number and email */
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
/* social icon section  */
.social-icon
{
    margin-top: 30px;
}
.social-icon a
{
    text-decoration: none;
font-size: 30px;
margin-right: 15px;
color: #ababab;    
display: inline-block;
transition: transform 0.5s;

}
.social-icon a:hover
{
    color: #ff004f;
    transform: translateY(-5px);
}
/* cv button */
.btn2
{
   display: inline-block;
   background: #ff004f; 
}
.contact-right form
{
width: 100%;
}
form input,form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 26px;
    margin: 15px;
    color: white;
font-size: 18px;
border-radius: 6px;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/* copyrightsection */
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
/* css for small screen */
/* adjusing nav */
nav .fa-solid
{
    display: none;
}
@media only screen and(max-width:600px)
{
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1
    {
        font-size: 30px;
    }
    nav .fa-solid
{
    display: block;
    font-size:25px;

}
nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right:-200;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li
{
    display:block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: 25px;
}
.sub-title{
    font-size: 40px;

}
.about-col-1,.about-col-2{
    flex-basis: 100%;
}
.about-col-1
{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;

}
.tab-links
{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}
}
/* submitted conformation  */
#msg{
    color:61b752;
    margin-top: -40px;
    display: block;
}
